<div class="text-center">
    <section class="section dashboard">
        <div class="row">
            <div class="col-12" style="text-align: left;padding-bottom: 1%; padding-top: 1%;">
                <b>
                    <span class="small pt-1 fw-bold" style="color:#06428b">Biên bản giao nhận</span>

                </b>
            </div><!-- End Recent Sales -->
            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">
                    <!-- Sales Card -->
                    <div class="col-xxl-3 col-md-6">
                        <div class="card info-card sales-card">
                            <div class="card-body" style="padding: 5px;">
            
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <img src="~/img/BM.png" style=" width: 45%;" alt="">
                                    </div>
                                    <div class="ps-1">
                                        <a class="nav-link " href="@Url.Action("TaoPhieu","BM_11")" style="font-size: 15px;">
                                            <span class="text-muted small pt-2 ps-1">
                                                <b>
                                                    BM.11/QT.05 (Biên bản giao nhận nguyên/nhiên/vật tư)
                                                </b>
                                            </span>
                                        </a>
                              
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Sales Card -->
                    <!-- Revenue Card -->
                    <div class="col-xxl-3 col-md-6">
                        <div class="card info-card sales-card">
                            <div class="card-body" style="padding: 5px;">

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <img src="~/img/BM.png" style=" width: 45%;" alt="">
                                    </div>
                                    <div class="ps-1">
                                        <a class="nav-link " href="@Url.Action("Index", "Home")" style="font-size: 15px;">
                                            <span class="text-muted small pt-2 ps-1">
                                                <b>
                                                    BM.16/QT.05.09 (Biên bản giao nhận khối lượng Gang lỏng - Gang thỏi)

                                                </b>
                                            </span>
                                        </a>
                   
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Sales Card -->
                    <!-- Customers Card -->
                    <div class="col-xxl-3 col-md-6">
                        <div class="card info-card sales-card">
                            <div class="card-body" style="padding: 5px;">

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <img src="~/img/BM.png" style=" width: 45%;" alt="">
                                    </div>
                                    <div class="ps-1">
                                        <a class="nav-link " href="@Url.Action("Index", "Home")" style="font-size: 15px;">
                                            <span class="text-muted small pt-2 ps-1">
                                                <b>
                                                    BM.18/QT.05.09 (Biên bản giao nhận xỉ hạt lò cao)

                                                </b>
                                            </span>
                                        </a>
                    
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Sales Card -->
                </div>
            </div><!-- End Left side columns -->
        </div>
    </section>
</div>
